.wrapper {
  max-width: 24em;
  align-content: center;
}
button {
  margin: 0;
  padding: .5em;
  font-size: 1.5em;
  width: 25%;
  height: 4em;
  background-color: #61b34d;
  color: #ffffff;
  font-weight: lighter;
  border: 1px solid #dbd6dd;
}
output {
  margin: 0;
  padding: .5em;
  font-size: 2em;
  width: 67%;
  background-color: #61b34d;
  color: #ffffff;
  font-weight: lighter;
  border: 1px solid #dbd6dd;
  text-align: right;
}
button:focus {
  outline: none;
}
.op2:active {
  background-color: #81bf74;
}
.op1 {
  background-color: #81bf74;
  color: #424242;
}
.op1:active {
  background-color: #61b34d;
  color: #ffffff;
}
.row1 {
  display: flex;
}
.row2 {
  display: flex;
}
.row3 {
  display: flex;
}
.row4 {
  display: flex;
}
.row5 {
  display: flex;
}
